global
  maxconn 200

defaults
  mode tcp
  timeout connect 5s
  timeout client 30s
  timeout server 30s

listen postgres-primary
  bind *:5432
  option httpchk GET /primary
  http-check expect status 200
  server patroni-1 patroni-1:5432 maxconn 100 check port 8008 inter 2s rise 2 fall 2
  server patroni-2 patroni-2:5432 maxconn 100 check port 8008 inter 2s rise 2 fall 2
  server patroni-3 patroni-3:5432 maxconn 100 check port 8008 inter 2s rise 2 fall 2

listen postgres-replica
  bind *:5433
  option httpchk GET /replica
  http-check expect status 200
  server patroni-1 patroni-1:5432 maxconn 100 check port 8008 inter 2s rise 2 fall 2
  server patroni-2 patroni-2:5432 maxconn 100 check port 8008 inter 2s rise 2 fall 2
  server patroni-3 patroni-3:5432 maxconn 100 check port 8008 inter 2s rise 2 fall 2

listen stats
  bind *:8404
  mode http
  stats enable
  stats uri /
